.c {
  border-style: solid;
  border-width: 1px;
}

#wrap {
    width: 1300px;
    margin: 0 auto;
}

#left_col {
    float: left;
    width: 900px;
}

#right_col {
    float: right;
    width: 400px;
}

#buttons {
    width: 50%;
    margin: 0 auto;
}
